.entry #events-pagination-top {
    display: none;
}
.entry #events-pagination-bottom {
    margin-bottom: 20px;
}
.eme-events-list td {
    text-align: left;
}
.eme-events-list td:first-child,
.eme-events-list td:last-child {
    text-align: center;
}
.eme-events-list td:first-child {
    width: 20%;
    padding-right: 0;
}
.eme-events-list td:last-child {
    padding-left: 0;
}
.sidebar .eme-events-list td:first-child {
    padding-left: 0;
}
.sidebar .eme-events-list td:last-child {
    width: 20%;
    padding-right: 0;
}
table.eme-calendar-table ul > li:before {
    display: none;
}